
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #600400;
    color: #fac800;
}

.header {
    display: flex;
    height: 10;
    background: #600400;
    backdrop-filter: blur(4px);
    box-shadow: 0 0px 30px #fac800;
}

.logo-box {
    width: 190px;
    background: #fac800;
    color: #600400;
    display: flex;
    justify-content: left;
    align-items: inline ;
}

.nav {
    flex-grow: 1;
    background: #fac800;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}

.nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #600400;
    padding-bottom: 4px;
}

.nav a:hover {
    color: #600400;
    border-bottom: 3px solid #600400;
}




.main {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.banner {
    position: relative;
    height: 400px;
    background: #333;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;
}

.top-banner {
    height: 300px;
    background: #000002;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.top-banner img {
    width: 100%;
    height: 100%;;
}

.desc {
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.products {
    display: flex;
    flex: 1;
    gap: 20px;
}
.product-card {
    flex: 1;
    background: #000002;
    padding: 20px;
    border-radius: 4px;
}
.product-img {
    background: #695b5b;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.product-img img {
    width: 100%;
    height: 100%;
}

.contact-layout {
    display: flex;
    gap: 40px;
}


.contact-info {
    width: 30%;
    line-height: 1;
}


.map-box {
    flex: 1;
    height: 300px;
    background: #333;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 30px #000002;
}

.map-box img {
    width: 100%;
    height: 100%;
}


.hidden {
    display: none;
}

.footer {
    text-align: center;
    padding: 20px;
    color: #fac800;
    font-size: 14px;
}

.page:target {
    display: block;
}

.page {
    display: none;
}