
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #600400;
    color: #fac800;
}

.header {
    display: flex;
    height: 10;
    background: #600400;
    backdrop-filter: blur(4px);
    box-shadow: 0 0px 30px #fac800;
}

.logo-box {
    width: 190px;
    background: #fac800;
    color: #600400;
    display: flex;
    justify-content: left;
    align-items: inline ;
}

.logo-box img {
    height: 100px ;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.nav {
    flex-grow: 1;
    background: #fac800;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}

.nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #600400;
    padding-bottom: 4px;
}

.nav a:hover {
    color: #600400;
    border-bottom: 3px solid #600400;
}


.hero-bg {
    position: absolute;
    width: 100%;
    height: 600px;
    opacity: 0.1;
    overflow: hidden;
    z-index: -1;
}


.main {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.banner {
    position: relative;
    height: 400px;
    background: #333;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;
}
.hero-img span {
    position: relative;
    font-size: 40px;
    color: #ccc;
    border: 4px solid #ccc;
    padding: 10px 20px;
}

.desc {
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.top-banner {
    position: relative;
    width: 10%;
    max-width: 100px;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products {
    display: flex;
    flex: 1;
    gap: 20px;
}
.product-card {
    flex: 1;
    background: #000002;
    padding: 20px;
    border-radius: 4px;
}
.product-img {
    background: #695b5b;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

button {
    background: #444;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.footer {
    text-align: center;
    padding: 20px;
    color: #777;
    font-size: 14px;
}

.page:target {
    display: block;
}

.page {
    display: none;
}